<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>
<body>

    <h1>To-Do List</h1>
    <form method="POST" action="{% url 'add-task' %}">
        {% csrf_token %}
        <input type="text" name="task" placeholder="Enter a new task" required>
        <select name="status">
            <option value="NS" {% if task.status == 'NS' %}selected{% endif %}>Not Started</option>
            <option value="IP" {% if task.status == 'IP' %}selected{% endif %}>In Progress</option>
            <option value="D" {% if task.status == 'D' %}selected{% endif %}>Done</option>
            <option value="C" {% if task.status == 'C' %}selected{% endif %}>Cancelled</option>
        </select>
        <button type="submit">Add Task</button>
    </form>
    
    
    <h2>Tasks</h2>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }} - Status: {{ task.get_status_display }}
                <!-- Form to update task status -->
                <form method="POST" action="{% url 'update-status' task.id %}">
                    {% csrf_token %}
                    <select name="status">
                        <option value="NS" {% if task.status == 'NS' %}selected{% endif %}>Not Started</option>
                        <option value="IP" {% if task.status == 'IP' %}selected{% endif %}>In Progress</option>
                        <option value="D" {% if task.status == 'D' %}selected{% endif %}>Done</option>
                        <option value="C" {% if task.status == 'C' %}selected{% endif %}>Cancelled</option>
                    </select>
                    <button type="submit">Update Status</button>
                </form>

                <!-- Button to delete tasks-->
                <form method="POST" action="{% url 'delete-task' task.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button>            <!--You can give the user a confirmation if needed later-->
                        Delete
                    </button>
                </form>

            </li>
        {% endfor %}
    </ul>
    

    



</body>
</html>
